.findWordRow {
  display: inline-block;
  min-width: 35px;
}

.wordsToFind {
  background-color: rgba(255, 255, 255, 0.411);
  position: fixed;
  z-index: 0;
  right: 0;
  top: 25%;
  text-align: center;
  width: 13%;
  text-decoration: none;
  font-weight: 900;
}

.wordsToFind ul {
  list-style: none;
}

.puzzle {
  position: absolute;
  top: 55px;
  z-index: -1;
  font-weight: 700;
  padding: 30px;
  line-height: 1.75;
  color: black;
  font-size: 2rem;
  float: left;
}

.puzzle ul {
  justify-content: space-around;
  display: inline-flex;
  text-align: justify;
  background-color: white;
}

.puzzle h1 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.navBar {
  background-color: #374785;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  position: fixed;
  text-decoration: none;
}

.background {
  position: absolute;
  top: 64px;
  z-index: -1;
  background-color: #a8d0e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  width: 100%;
}

.createPuzzle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: darkblue solid 3px;
  border-radius: 10px;
  height: 85vh;
  width: 50%;
  overflow-y: auto;
}

.addWord {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.aTag {
  color: white;
  text-decoration: none;
}

a:hover {
  color: orange;
}

.space {
  margin: 2% 0;
  width: 50%;
  text-align: center;
  font-size: 2rem;
}
