.findWordRow {
  display: inline-block;
  min-width: 35px;
  user-select: none;
}

.wordsToFind {
  background-color: rgba(255, 255, 255, 0.411);
  position: fixed;
  top: 100%;
  right: 0;
  top: 25%;
  text-align: center;
  width: 13%;
  text-decoration: none;
  font-weight: 900;
}

.wordsToFind ul {
  list-style: none;
}

.puzzle {
  position: absolute;
  top: 64px;
  z-index: -1;
  font-weight: 700;
  line-height: 1.75;
  color: black;
  font-size: 2rem;
  height: max-content;
  width: max-content;
  min-height: calc(100vh - 64px);
  background-color: white;
}

.puzzle ul {
  justify-content: space-around;
  display: inline-flex;
  text-align: justify;
  background-color: white;
}

.puzzle h1 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.navBar {
  background-color: #041e42;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  text-decoration: none;
}

.background {
  position: absolute;
  top: 64px;
  z-index: -1;
  background-color: #a8d0e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  width: 100%;
}

.createPuzzle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: #041e42 solid 3px;
  border-radius: 10px;
  height: 85vh;
  width: 80vw;
  overflow-y: auto;
}

.addWord {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.aTag {
  color: white;
  text-decoration: none;
}

a:hover {
  color: orange;
}

.space {
  margin: 2% 0;
  width: 75%;
  text-align: center;
  font-size: 1.5rem;
}

.createFindWords {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.createFindWords ul {
  width: 50%;
  text-align: center;
  list-style-type: none;
}

.createFindWords ul li {
  margin: 1%;
}

.wordSearch {
  position: absolute;
  top: 64px;
  z-index: -1;
  background-color: #a8d0e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  width: 100%;
}

.logout {
  background-color: #041e42;
  border: none;
  color: white;
}

.logout:hover {
  color: #ffb81c;
  cursor: pointer;
}

.image {
  width: 100%;
}

.login {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  border-radius: 25px;
}

.username {
  text-align: center;
  width: 80%;
  margin: 3% auto;
  line-height: 2.6;
}

.loginButton {
  width: 80%;
  margin: 3% auto;
  height: 60px;
  background-color: #041e42;
  color: white;
  border-radius: 25px;
}

.loginText {
  margin: 2% auto;
  font-size: 2rem;
}

.puzzleCard {
  background-color: white;
  width: 48%;
  margin: 1%;
  border-radius: 25px;
  flex-wrap: wrap;
  height: max-content;
}

.playPuzzle {
  width: 80%;
  margin: 1%;
  height: 60px;
  background-color: #041e42;
  color: white;
  border-radius: 25px;
}

.allPuzzle {
  background-color: #a8d0e6;
  height: calc(100vh - 64px);
  overflow: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.puzzleHeader {
  margin: 1% auto;
  text-align: center;
  font-size: 2rem;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}

.cardP {
  font-size: 2rem;
}

.cardDescription {
  font-size: 1.75rem;
}

.generateButton {
  width: 80%;
  margin: 3% auto;
  height: 60px;
  background-color: #041e42;
  color: white;
  border-radius: 25px;
}

.removeButton {
  width: 80%;
  margin: 3% auto;
  height: 60px;
  background-color: #041e42;
  color: white;
  border-radius: 25px;
}

.buttonsDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.backgroundWorld {
  position: absolute;
  top: 64px;
  z-index: -1;
  background-color: #a8d0e6;
  height: max-content;
  width: max-content;
}

.backgroundWorldWords {
  position: absolute;
  top: 64px;
  z-index: -1;
  background-color: #a8d0e6;
  height: max-content;
  width: 100%;
}

.worldRecord {
  display: inline-block;
  min-width: 35px;
  user-select: none;
}

.worldRecordWords {
  display: inline-block;
  min-width: 35px;
  margin: 0.5%;
}

.worldWords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
