p {
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.cyan {
  background: cyan;
}

.red {
  background: red;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.pink {
  background: pink;
}

.yellow {
  background: yellow;
}

.purple {
  background: purple;
}

.brown {
  background: brown;
}

.silver {
  background: silver;
}

.cyanword {
  text-decoration: line-through;
  color: cyan;
}

.redword {
  text-decoration: line-through;
  color: red;
}

.greenword {
  text-decoration: line-through;
  color: green;
}

.orangeword {
  text-decoration: line-through;
  color: orange;
}

.pinkword {
  text-decoration: line-through;
  color: pink;
}

.yellowword {
  text-decoration: line-through;
  color: yellow;
}

.purpleword {
  text-decoration: line-through;
  color: purple;
}

.brownword {
  text-decoration: line-through;
  color: brown;
}

.silverword {
  text-decoration: line-through;
  color: silver;
}

.first {
  border-radius: 50%;
  background: blue;
}

.hover {
  border-radius: 50%;
  background: lightblue;
}
